*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* comon */
body{
    background-color: black; 
    font-family: 'Montserrat', sans-serif;
    color: white;
}
main{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}

/* nav-left */

.nav-left{ 
    height: calc(100vh - 100px);
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo-nav{
width: 200px;
padding: 15px 10px;
}




.nav-left-header div{
    display: flex;
    align-items:center ;
    padding: 8px 0;

}
.nav-left-header div img{
    margin-left: 15px;
    width: 30px;
    margin-right: 5px; 
    
}
.img-home{
    padding-left: 18px;
    margin-left: 0;
    border-left: 2px solid #adff2f ;
} 



.nav-left-main, .nav-left-footer{
    padding: 15px ;
}
.nav-left-main{
    overflow: hidden;
    /* overflow-y: auto; */
    

    
}
.nav-left-header, .logo-nav, .nav-left-footer{
    flex-shrink: 0;
}
.fa-plus{
    padding: 12px;
    font-size: large;
    background-color: #a3a3a3;
    margin: 15px 10px 15px 0 ;
    color: black;
}

.nav-left-list{
    flex-grow: 1;
    overflow-y: auto; 
    list-style: none; 
   

}

.nav-left-list li{
    /* overflow-y: auto;    */

    margin: 10px 0;
}


/* footer left  */
.row-left-footer-1{
    display: flex;
    padding: 15px 0;
    border-bottom: 2px solid #7e7e7e;
    align-items: center;
}
.row-left-footer-1 img{
    
    width: 30px;
}
.row-left-footer-2 {
    margin-top: 5px;
    align-items: center;
    padding: 2px;
    
     
    
}
.row-left-footer-2 img{
    width: 35px;
    height: 35px;
    background-color: #7e7e7e;
    border-radius: 50%;
    vertical-align: middle;

    
}
.name-profile{
    margin-left: 10px;
}

/* /nav-left */

.container-right{
    /* background-color: black; */
    /* margin-top: 70px; */
   
    width: calc(100% - 230px); 
}



/* header-right */



.header-right{
    background-color: #080b12a1;
    width: calc(100% - 230px);
    height: 100px; 
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btm-header-right{
margin-right: 30px;
padding: 15px 50px;
border-radius: 30px;
border: 2px solid;
}
.btm-header-right:hover, .fa-play-circle:hover {
    transform : scale(1.1);
}





.main-right{
    height:calc(100vh - 100px);
    padding-top: 100px;
    overflow-y: auto;
    width: 100%;
    background-color:#141922;
}

.nav-main-right{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}
.nav-main-right a{
    padding: 0 20px;
}
.nav-main-right div {
     flex-direction: column;  
     align-items: center; 
     display: flex; 
    
}
 .nav-main-right div::after{
    content: "";
    text-align: center;
    width: 40px;
    height: 1px;
    margin-top:5px ;
    display: block; 
    background-color: transparent;
    
} 
.nav-main-right div:hover::after{
     background-color:#adff2f;
}

.row-main-right-1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: flex-start;
    

       
}
.title-section{
    padding: 40px  20px;
    /* font-size: large;  */
    font-weight: 700; 
}
.subtitle-section{
    font-weight: 400;
    font-size: 10px; 
    padding-top: 15px;
    color: lightgrey;
}

.album
{
    width: calc(100% / 6 );
    padding-right:  20px;
    text-align: center; 
}
.album img{
    width: 100%;
    display: block;
}
.img-container{
    position: relative;

    width: 100%;
}

 .img-container:hover::after{
    cursor: pointer;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    


}
.text-album{
    font-weight: 700;
    margin: 8px 0;
}
.subtitle-album{
    font-size: 10px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}





.footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
     z-index: 2; 
    position: fixed; 
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}
.play-bar-left, .play-bar-right{
width: 230px ;
flex-shrink: 0;
}
.play-bar-left, .img-play-bar-left, .sound-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-play-bar-left img{
    width: 60px;
    margin: 0 10px
}
.title-play-bar-left div:last-child {
    font-size: 10px;
}

.icons-play-bar-left i, .icons-play-bar-right i{
    margin-left: 8px;

}
.simble-play-bar-center{
    text-align: center;
    font-size: 18px;
    
}
.simble-play-bar-center i{
    padding:10px 20px;
}
.fa-play-circle{
    font-size: 30px;
}

.sound-bar{
    margin:0 5px ;
}
.player-bar, .player-bar-sound{
     width: 300px; 
    height: 5px;
    border-radius: 50px;
    margin:0 8px ;
    

    background-color: grey;
    /* outline: none; non so cosa sia*/ 
}
.player-bar-color{
    cursor: pointer;
    width: 30%;
    height: 100%;
    background-color: lightgrey;
    position: relative;
}

.player-bar:hover .player-bar-color{
    background-color:yellowgreen
}
.player-bar:hover .player-bar-color::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: yellowgreen;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
}
.player-bar-color:active{
    width: 100%;
    transition: 0.4s;
}
.play-bar-right{
    display: flex;
    align-items: center;
}

.player-bar.sound{
width: 100px;

}