*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* comon */
body{
    background-color: black; 
    font-family: 'Montserrat', sans-serif;
    color: white;
}
main{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}

/* nav-left */

.nav-left{ 
    height: calc(100vh - 70px);
    width: 230px;

}

.logo-nav{
width: 200px;
padding: 15px 10px;
}

.nav-left-header{
  
    /* padding-left: 20px; */
}


.nav-left-header div{
    display: flex;
    align-items:center ;
    padding: 8px 0;

}
.nav-left-header div img{
    margin-left: 15px;
    width: 30px;
    margin-right: 5px; 
    
}
.img-home{
    padding-left: 18px;
    margin-left: 0;
    border-left: 2px solid #adff2f ;
} 

.container-nav-main-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.nav-left-main, .nav-left-footer{
    padding: 15px ;
}
.fa-plus{
    padding: 12px;
    font-size: large;
    background-color: #a3a3a3;
    margin: 15px 10px 15px 0 ;
    color: black;
}

.nav-left-list{
    list-style: none;
    overflow-y:  auto; 
    /* NON FUNZIONA */
}
.nav-left-list li{
    margin: 10px 0;
}

.row-left-footer-1{
    display: flex;
    padding: 15px 0;
    border-bottom: 2px solid #7e7e7e;
    align-items: center;
}
.row-left-footer-1 img{
    
    width: 30px;
}
.row-left-footer-2 {
    margin-top: 5px;
    /* display: flex; */
    align-items: center;
    padding: 2px;
    
     
    
}
.row-left-footer-2 img{
    width: 35px;
    height: 35px;
    background-color: #7e7e7e;
    border-radius: 50%;
    vertical-align: middle;

    
}
.name-profile{
    margin-left: 10px;
}

/* /nav-left */

.container-right{
    /* background-color: black; */
    /* margin-top: 70px; */
    overflow-y: auto;
     width: calc(100% - 230px); 
}

.header-right{
    background-color: blueviolet;
    width: calc(100% - 230px);
    height: 70px; 
    position: fixed;
    z-index: 1;
}

.main-right{
    height:calc(100vh - 70px);
    padding-top: 70px;
    
    width: 100%;
   background-color: coral;
}

.footer-right{
    background-color: blue;
    height: 70px;
    width: 100%;
     z-index: 2; 
    position: fixed; 
    bottom: 0;
       
}